<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'att' %}" method="POST">
        {% csrf_token %}
    <input type="date" name="Date">
    {%for e in emp%}
        <input type="checkbox" value="{{e.Name}}" name="Employee">
        <label for="Employee">{{e.Name}}</label>
    {%endfor%}
    <input type="submit" value="submit">
</form>
</body>
</html>